body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #0f1724;
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111d2e;
    padding: 18px 40px;
    border-bottom: 1px solid #20344f;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: white;
}

.highlight {
    color: #ff8a00;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.logout-btn {
    background: #ff8a00;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 8px;
    cursor: pointer;
}

.logout-btn:hover {
    background: #e67900;
}

/* SEARCH SECTION */
.search-section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.search-card {
    background: #162233;
    padding: 35px;
    width: 70%;
    border-radius: 14px;
}

.search-card h2 {
    margin-bottom: 25px;
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.form-group {
    flex: 1;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    background: #0f1724;
    border: 1px solid #304056;
    border-radius: 8px;
    color: white;
}

.search-btn {
    width: 100%;
    padding: 14px;
    background: #ff8a00;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.search-btn:hover {
    background: #e67900;
}

/* OFFERS SECTION */
.offers-section {
    width: 80%;
    margin: 50px auto;
}

.divider {
    border: none;
    border-top: 1px solid #27384d;
    margin: 10px 0 30px 0;
}

.offer-container {
    display: flex;
    gap: 25px;
}

.offer-card {
    background: #162233;
    padding: 25px;
    width: 30%;
    border-radius: 14px;
    transition: 0.2s;
}

.offer-card:hover {
    transform: scale(1.03);
    background: #1b2a40;
}

.subtitle {
    color: #ff8a00;
    margin-bottom: 5px;
}

.desc {
    color: #b0bcd0;
    margin-bottom: 20px;
}

.book-link {
    color: #ff8a00;
    text-decoration: none;
    font-weight: bold;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    color: #8fa2b6;
}

footer a {
    color: #ff8a00;
    text-decoration: none;
}
